<footer class="footer">
    <div class="notifications" id="notifications"></div>
    <div class="container text-center ">
        <span class="text-muted">© 2017 Andrey + Sergei = love</span>
    </div>
</footer>