<div class="footer "> <!-- ВЕРНУТЬ!!!!!! navbar-fixed-bottom"> -->
    <div class="copyright-footer text-center ">
        {% block copyright %}
            © 2017 College of Telecommunications and Information
        {% endblock %}
    </div>
</div>