<div class="header">
    <!-- HEADER -->
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <!-- Menu button when small size -->
        <button class="navbar-toggler navbar-toggler-right align-middle" type="button"
                data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Organization brand -->
        <a class="navbar-brand header-brand" href="#">
            <img class="rounded-circle little-icon-img header-icon-img" src="{{ asset('public/img/temp-img-2.jpg') }}" alt="">
            College
        </a>
        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbar">
            <!-- Central menu -->
            <ul class="header-menu navbar-nav mr-auto">
                <li class="nav-item active menu-item">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item dropdown menu-item">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <!-- User profile icon -->
            <img id="profile-button" class="navbar-brand header-user-profile-icon rounded-circle header-img little-icon-img" src="{{ asset('public/img/temp-img.jpg') }}" alt="">
        </div>
    </nav>
    <!-- User Profile -->
    <div class="profile-container" id="profile-menu">
        <div class="block">
            <div class="info-section">
                <div class="header-profile-info">
                    <div class="header-profile-name"><a href="#">Sergey Pustovit</a></div>
                    <div class="header-profile-email">sertdfsfsf@gmail.com</div>
                </div>
                <img class="rounded-circle middle-icon-img profile-header-logo" src="{{ asset('public/img/temp-img.jpg') }}" width="30" height="30" alt="">
            </div>
            <div class="grey-section">
                <button type="button" class="btn btn-secondary header-profile-logout">Выход</button>
            </div>
        </div>
    </div>
</div>
