<div class="header">
    <div class="header-emblem">
        {% block headeremblem %}
            <img src="{{ asset('static/img/temp-logo.png') }}" alt="header emblem" class="header-emblem-img img-circle">
        {% endblock %}
    </div>
    <div class="header-menu">
        {% block headermenu %}

        {% endblock %}
    </div>
    <div class="header-user-profile pull-right">
        {% block headeruserprofile %}

        {% endblock %}
    </div>
</div>