/* Global div */
.header {
    font-size: 1.3em;
}

/* Left brand */
.header-brand{

}

/* Central menu */
.header-menu {
    margin-left: 50px;
}

/* Item */
.menu-item {

}

/* User profile icon */
.header-user-profile-icon {

}

/* Vertical middle links */
.navbar-nav li a {
    padding:0 15px;
    line-height:45px;
}

/* USER PROFILE */
/* Container */
.profile-container {
    position: fixed;
    right: 18px;
    top: 72px;
    z-index: 1042;
    display: none;
    font-family: arial,sans-serif;
}

/* Logo */
.profile-header-logo {
    float: right;
}

/* left block */
.header-profile-info {
    float: left;
    width: 50%;
    font-size: 15px;
}

/* Email */
.header-profile-email {
    width: auto;
    color: #5a5a5a;
    border-bottom: solid #f9f9f9 1px;
    margin-top: 7px;
}

/* Name */
.header-profile-name {
    width: auto;
    font-weight: bold;
    border-bottom: solid #f9f9f9 1px;
}


/* Border with triangle*/
.block {
    border-radius: 3px;
    padding: 15px;

    background: white;
    box-shadow: 0 0 2px #000; /* Добавляем тень для блока */

    width: 300px;
    height: 120px;
}
.block::after, .block::before {
    content: '';
    position: absolute;
    background: white;
    right: 20px; top: -10px;
    width: 20px; height: 20px;
    box-shadow: 0 0 2px #000; /* Добавляем тень для уголка */
    z-index: -1; /* Прячем за основным блоком */
    transform: rotate(45deg); /* Поворачиваем на 45º */
    -webkit-transform: rotate(45deg);
}
.block::before {
    z-index: 1; /* Накладываем поверх, чтобы скрыть следы тени */
    box-shadow: none; /* Прячем тень */
}
